
body {
    background-color: rgb(147,235,202) !important;
    height: 100vh;
    width: 100vW;
    margin: 0;
    padding: 0;

}
/* #navbar {
    width: 100%;
} */

#emptyRow {
    height: 5em;
}

.logo {
    height: 10em;
    width: 10em;
}

.carru {
    height: 25em;
    width: 20em;;
}
.logo {
    height: 20em;
    width: 20em;
}
.logoCont {
    text-align: center;
}

.accordion-button {
    text-align: center;
    background-color: rgb(21,88,55) !important;
    color: white !important;
}

.buttonText {
    text-align: center;
    
}

.platosDelDia {
    background-color:rgb(21,88,55) ;
}

#carouselMenu {
    background-color: rgb(68,157,124);
}